.App {
    text-align: center;
    margin: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #1976d2;
    color: white;
}

td,
th {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
}